.CompanyPage {
    width: 100vw;
    margin: auto;
    margin-top: 6em;
    color: antiquewhite;
    
  
}

.CompanyPage p {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.CompanyPage p , .CompanyPage h1{
    text-shadow: 1px 1px 1px black;
}

.CompanyPage-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: fit-content;
    margin-bottom: 2em;
}