.loggedOutNav {
   gap: 1em;
    display: flex;
    flex:1;
    justify-content: end;
}

.otherSide {
    display: flex;
    flex: 1;
}

.menuItems{
width: 100%;
    display: flex;
    /* flex:1; */
    justify-content: space-between;
    align-items: center;
}

.toolBar {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.container {
    text-align: center;
}

.NavBar-title {
    text-decoration: none;
    font-size: xxx-large;
    color: white;
    font-weight: 300;
}
.NavBar-pages {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 300;
}
.NavBar-auth {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 300;
    margin-left: 1em;
}
.signup, .logout {
    /* font-weight: 600; */
    color: #ff3366;
}
.NavBar-auth:hover {
    font-weight: 500;
}